<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="default">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <provider class="net.logstash.logback.composite.loggingevent.ArgumentsJsonProvider"/>
                    <timestamp/>
                    <mdc/>
                    <logLevel/>
                    <callerData>
                        <classFieldName>class</classFieldName>
                        <methodFieldName>method</methodFieldName>
                        <lineFieldName>line</lineFieldName>
                        <fileFieldName>fileName</fileFieldName>
                    </callerData>
                    <threadName>
                        <fieldName>thread</fieldName>
                    </threadName>
                    <stackTrace/>
                    <pattern>
                        <pattern>
                            {
                            "pid": "${PID}"
                            }
                        </pattern>
                    </pattern>
                    <message/>
                </providers>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="!default">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level --- [%thread] %logger{36}@%method:%line - %X - %msg%n
                </pattern>
            </encoder>
        </appender>
    </springProfile>
    <logger name="root" level="INFO" />
    <logger name="org.springframework" level="ERROR" />
    <logger name="com.example" level="DEBUG" />
    <logger name="brave" level="ERROR" />
    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="DEBUG" />
    <root level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
